---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Get your pet a pictur">
  <main>
    <Hero />
    <section id="review"><h1>HUHA</h1></section>
    <section id="footer"><h1>HUHA</h1></section>
  </main>
</Layout>

<style>
  section {
    min-height: 80vh;
  }
</style>
