---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Get your pet a pictur">
  <main>
    <section id="hero"><h1>HUHA</h1></section>
    <section id="review"><h1>HUHA</h1></section>
    <section id="footer"><h1>HUHA</h1></section>
  </main>
</Layout>

<style>
  section {
    min-height: 80vh;
  }
  #hero {
    background-color: wheat;
  }
</style>
